/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar .thumb:hover {
	-fx-color: #0b85e2;
}

.scroll-bar .thumb:pressed {
	-fx-color: #0b85e2;
}

.scroll-bar .thumb{
	-fx-background-color: #ffffff;
}

.scroll-bar .track {
	-fx-background-color: #1d1d1d;
}

.scroll-bar .track-background {
	-fx-background-color: #1d1d1d;
	-fx-background-insets: 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
	-fx-background-color: #1d1d1d;
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
	-fx-background-color: #1d1d1d;
}

.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
	-fx-background-color: #1d1d1d;
}

.scroll-bar:horizontal .increment-arrow {
	-fx-background-color: #1d1d1d, #1d1d1d;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */	
	-fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}
 
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #1d1d1d, #1d1d1d;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em;  /*4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}
 
.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: #1d1d1d, #1d1d1d;
}
 
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #1d1d1d, #1d1d1d;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}
 
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #1d1d1d,#1d1d1d;
    
}
 
.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: #1d1d1d, #1d1d1d;
}
 
.scroll-bar:disabled {
    -fx-opacity: 0.4;
}
 
 
/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/
 
.scroll-pane {
    -fx-background-color:#1d1d1d;
}
 
.scroll-pane .corner {
    -fx-background-color: #1d1d1d, #ffffff;
}